bdd/mysql-data/
bdd/phpmyadmin-data/

backend/**/bin/
backend/**/obj/
backend/**/out/

backend/**/*.user
backend/**/*.userosscache
backend/**/*.suo
backend/**/*.userprefs
backend/**/.vs/
backend/**/.vscode/
backend/**/.idea/

backend/**/.idea/
backend/**/*.sln.iml

backend/**/.vs/
backend/**/[Dd]ebug/
backend/**/[Rr]elease/
backend/**/x64/
backend/**/x86/
backend/**/[Ww][Ii][Nn]32/
backend/**/[Aa][Rr][Mm]/
backend/**/[Aa][Rr][Mm]64/
backend/**/bld/
backend/**/[Bb]in/
backend/**/[Oo]bj/
backend/**/[Ll]og/
backend/**/[Ll]ogs/

backend/**/*_i.c
backend/**/*_p.c
backend/**/*_h.h
backend/**/*.ilk
backend/**/*.meta
backend/**/*.obj
backend/**/*.iobj
backend/**/*.pch
backend/**/*.pdb
backend/**/*.ipdb
backend/**/*.pgc
backend/**/*.pgd
backend/**/*.rsp
backend/**/*.sbr
backend/**/*.tlb
backend/**/*.tli
backend/**/*.tlh
backend/**/*.tmp
backend/**/*.tmp_proj
backend/**/*_wpftmp.csproj
backend/**/*.log
backend/**/*.tlog
backend/**/*.vspscc
backend/**/*.vssscc
backend/**/.builds
backend/**/*.pidb
backend/**/*.svclog
backend/**/*.scc

backend/**/*.nupkg
backend/**/*.snupkg
backend/**/packages/
backend/**/.nuget/

frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/dist/
frontend/out-tsc/
frontend/.angular/cache/
frontend/.angular/

frontend/.idea/
frontend/.project
frontend/.classpath
frontend/.c9/
frontend/*.launch
frontend/.settings/
frontend/*.sublime-workspace
frontend/.vscode/*
!frontend/.vscode/settings.json
!frontend/.vscode/tasks.json
!frontend/.vscode/launch.json
!frontend/.vscode/extensions.json
frontend/.history/*

.DS_Store
Thumbs.db

backend/**/*appsettings.Production.json
backend/**/*appsettings.Staging.json
frontend/**/environment.prod.ts
frontend/**/environment.staging.ts

*.log

*.tmp
*.temp
*.swp
*.swo
*~